
#app {
  padding: 20px;
}

#flickr {
  margin:10px 0;
  height: 300px;
}

.flickrSearch {
  margin-bottom: 20px;
}

.results {
  max-height: 280px;
  overflow: scroll;
}
.results img {
}

#collage {
  min-height: 300px;
}

.photos {
  min-height: 300px;
  background: #eee;
}
